
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{:L('_QWECHAT_TITLE_')}</title>

    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <link href="__CSS__/metisMenu.min.css" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="__CSS__/qwechat-admin.css" rel="stylesheet">

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{:U('Qwechat/Qwechat/qwechat')}">{:L('_QWECHAT_TITLE_')}</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 10px;">
                    <i><img class="nav-user-photo" src="{$Think.cookie.avatar}" alt="{$Think.cookie.name}" style="width:30px;height:30px;border-radius: 50%;" /></i> &nbsp;<i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{:U('Qwechat/Admin/admin')}"><i class="fa fa-user fa-fw"></i>{$Think.cookie.name}</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{:U('Qwechat/Admin/signout')}"><i class="fa fa-sign-out fa-fw"></i>{:L('_LOGOUT_')}</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav in" id="side-menu">
                    <li>
                        <a href="{:U('Qwechat/Qwechat/qwechat')}"><i class="fa fa-dashboard fa-fw"></i> {:L('_DASHBOARD_')}</a>
                    </li>
                    <li>
                        <a href="{:U('Qwechat/Organize/index')}"><i class="fa fa-group fa-fw"></i> {:L('_ORGANIZESETTINGS_')}<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse in">
                            <li>
                                <a href="{:U('Qwechat/Organize/groupSettings')}"> {:L('_GROUPSETTINGS_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Organize/branchManage')}"> {:L('_BRANCHMANAGE_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Organize/departmentManage')}" class="active"> {:L('_DEPARTMENTMANAGE_')}</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="{:U('Qwechat/Employee/index')}"><i class="fa fa-user fa-fw"></i> {:L('_EMPLOYEEMANAGE_')}<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="{:U('Qwechat/Employee/employeeManage')}"> {:L('_EMPLOYEEMANAGE_SUB1_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Employee/leaveEmployee')}"> {:L('_LEAVEEMPLOYEE_')}</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{:U('Qwechat/Application/index')}"><i class="fa fa-th fa-fw"></i> {:L('_APPLICATIONMANAGE_')}<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="{:U('Qwechat/Application/applicationManage')}"> {:L('_APPLICATIONMANAGE_SUB1_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Application/basicConfig')}"> {:L('_BASICCONFIG_')}</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="{:U('Qwechat/Message/index')}"><i class="fa fa-envelope fa-fw"></i> {:L('_MESSAGEMANAGE_')}<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="{:U('Qwechat/Message/activeMessage')}"> {:L('_ACTIVEMESSAGE_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Message/messageList')}"> {:L('_MESSAGELIST_')}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> {:L('_DEPARTMENTMANAGE_')}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <?php
            function recursionDepartment($rootDepartment) {
                $subDepartments = $rootDepartment["subDepartments"];
                $subDepartmentsCount = count($subDepartments);
                if($subDepartmentsCount!=0) {
                    echo "<li class='open'>" ."<a href='javascript:;'>" ."<span class='title'>" .$rootDepartment["name"] ."</span>" ."<span class='arrow open'>" ."</span>" ."</a>";
                    echo "<ul class='sub-menu' style='display:block;'>";
                } else {
                    echo "<li>" ."<a href='javascript:;'>" ."<span class='title'>" .$rootDepartment["name"] ."</span>" ."</a>";
                }
                for($i=0;$i<$subDepartmentsCount;$i++) {
                    recursionDepartment($subDepartments[$i]);
                }
                if($subDepartmentsCount!=0) {
                    echo "</li>";
                    echo "</ul>";
                } else {
                    echo "</li>";
                }
            }

            function treeDepartment($rootDepartment, $depth=1) {
                $subDepartments = $rootDepartment["subDepartments"];
                $subDepartmentsCount = count($subDepartments);
                if($depth == 1) {
                    echo "<li style='display:block;'>" ."<span>" ."<i class='glyphicon glyphicon-plus'>" ."</i>" ."</span>" ."<a href=''>"  .$rootDepartment["name"] ."</a>";
                } else {
                    echo "<li style='display:none;'>" ."<span>" ."<i class='glyphicon glyphicon-plus'>" ."</i>" ."</span>" ."<a href=''>"  .$rootDepartment["name"] ."</a>";
                }
                if($subDepartmentsCount!=0) {
                    echo "<ul>";
                }
                for($i=0;$i<$subDepartmentsCount;$i++) {
                    treeDepartment($subDepartments[$i], $depth++);
                }
                echo "</li>";
                if($subDepartmentsCount!=0) {
                    echo "</ul>";
                }
            }
        ?>

        <ul class='wraplist' >
            <volist name="departments" id="department">
                {$department|recursionDepartment}
            </volist>
        </ul>

        <div class="tree well">
            <ul>
                <volist name="departments" id="department">
                    {$department|treeDepartment}
                </volist>
            </ul>
        </div>

        <div class="tree well">
            <ul>
                <li>
                    <span><i class="icon-folder-open"></i></span> <a href="">Goes somewhere</a>
                    <ul>
                        <li>
                            <span><i class="glyphicon glyphicon-plus"></i></span> <a href="">Goes somewhere</a>
                            <ul><li style="display:none;"><span><i class="">&nbsp;&nbsp;</i></span> <a href="">Goes somewhere</a></li></ul>
                        </li>
                        <li>
                            <span><i class="glyphicon glyphicon-plus"></i> Child</span> <a href="">Goes somewhere</a>
                            <ul>
                                <li style="display:none"><span><i class="icon-leaf"></i> Grand Child1</span> <a href="">Goes somewhere</a></li>
                                <li style="display:none;"><span><i class="iglyphicon glyphicon-minus"></i> Grand Child</span> <a href="">Goes somewhere</a>
                                    <ul>
                                        <li><span><i class="iglyphicon glyphicon-minus"></i> Great Grand Child</span> <a href="">Goes somewhere</a>
                                            <ul>
                                                <li><span><i class="icon-leaf"></i> Great great Grand Child</span> <a href="">Goes somewhere</a>
                                                </li>
                                                <li><span><i class="icon-leaf"></i> Great great Grand Child</span> <a href="">Goes somewhere</a>
                                                </li>
                                             </ul>
                                        </li>
                                        <li><span><i class="icon-leaf"></i> Great Grand Child</span> <a href="">Goes somewhere</a>
                                        </li>
                                        <li><span><i class="icon-leaf"></i> Great Grand Child</span> <a href="">Goes somewhere</a>
                                        </li>
                                    </ul>
                                </li>
                                <li style="display:none;"><span><i class="icon-leaf"></i> Grand Child</span> <a href="">Goes somewhere</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <span><i class="icon-folder-open"></i> Parent2</span> <a href="">Goes somewhere</a>
                    <ul>
                        <li>
                            <span><i class="icon-leaf"></i> Child</span> <a href="">Goes somewhere</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/metisMenu.min.js"></script>
<script src="__JS__/qwechat-admin.js"></script>

<style type="text/css">
.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
</style> 

<script type="text/javascript">
$(function () {
    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
    $('.tree li.parent_li > span').on('click', function (e) {
        var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            $(this).attr('title', 'Expand this branch').find(' > i').addClass('glyphicon glyphicon-plus').removeClass('glyphicon glyphicon-minus');
        } else {
            children.show('fast');
            $(this).attr('title', 'Collapse this branch').find(' > i').addClass('iglyphicon glyphicon-minus').removeClass('glyphicon glyphicon-plus');
        }
        e.stopPropagation();
    });
});
</script>

</body>

</html>
