
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{:L('_QWECHAT_TITLE_')}</title>
    
    <link href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/metisMenu/1.1.3/metisMenu.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="__CSS__/qwechat-admin.css" rel="stylesheet">
    <link href="__CSS__/common-jiar.css" rel="stylesheet">

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{:U('Qwechat/Qwechat/qwechat')}">{:L('_QWECHAT_TITLE_')}</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-center">
            <div class="alert-info" style="display: none;" align="center">
                <span>Show alert info !</span>
            </div>
        </ul>>

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 10px;">
                    <i><img class="nav-user-photo" src="{$Think.cookie.avatar}" alt="{$Think.cookie.name}" style="width:30px;height:30px;border-radius: 50%;" /></i> &nbsp;<i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{:U('Qwechat/Admin/admin')}"><i class="fa fa-user fa-fw"></i>{$Think.cookie.name}</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{:U('Qwechat/Admin/signout')}"><i class="fa fa-sign-out fa-fw"></i>{:L('_LOGOUT_')}</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav in" id="side-menu">
                    <li>
                        <a href="{:U('Qwechat/Qwechat/qwechat')}"><i class="fa fa-dashboard fa-fw"></i> {:L('_DASHBOARD_')}</a>
                    </li>
                    <li>
                        <a href="{:U('Qwechat/Organize/index')}"><i class="fa fa-group fa-fw"></i> {:L('_ORGANIZESETTINGS_')}<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse in">
                            <li>
                                <a href="{:U('Qwechat/Organize/groupSettings')}"> {:L('_GROUPSETTINGS_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Organize/branchManage')}"> {:L('_BRANCHMANAGE_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Organize/departmentManage')}" class="active"> {:L('_DEPARTMENTMANAGE_')}</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="{:U('Qwechat/Employee/index')}"><i class="fa fa-user fa-fw"></i> {:L('_EMPLOYEEMANAGE_')}<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="{:U('Qwechat/Employee/employeeManage')}"> {:L('_EMPLOYEEMANAGE_SUB1_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Employee/leaveEmployee')}"> {:L('_LEAVEEMPLOYEE_')}</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{:U('Qwechat/Application/index')}"><i class="fa fa-th fa-fw"></i> {:L('_APPLICATIONMANAGE_')}<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="{:U('Qwechat/Application/applicationManage')}"> {:L('_APPLICATIONMANAGE_SUB1_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Application/basicConfig')}"> {:L('_BASICCONFIG_')}</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="{:U('Qwechat/Message/index')}"><i class="fa fa-envelope fa-fw"></i> {:L('_MESSAGEMANAGE_')}<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="{:U('Qwechat/Message/activeMessage')}"> {:L('_ACTIVEMESSAGE_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Message/messageList')}"> {:L('_MESSAGELIST_')}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> {:L('_DEPARTMENTMANAGE_')}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <!-- <?php
            function recursionDepartment($rootDepartment) {
                $subDepartments = $rootDepartment["subDepartments"];
                $subDepartmentsCount = count($subDepartments);
                if($subDepartmentsCount!=0) {
                    // 存在子节点
                    echo "<li class='open'>" ."<a href='javascript:;'>" ."<span class='title'>" .$rootDepartment["name"] ."</span>" ."<span class='arrow open'>" ."</span>" ."</a>";
                    echo "<ul class='sub-menu' style='display:block;'>";
                } else {
                    echo "<li>" ."<a href='javascript:;'>" ."<span class='title'>" .$rootDepartment["name"] ."</span>" ."</a>";
                }
                for($i=0;$i<$subDepartmentsCount;$i++) {
                    recursionDepartment($subDepartments[$i]);
                }
                if($subDepartmentsCount!=0) {
                    echo "</li>";
                    echo "</ul>";
                } else {
                    echo "</li>";
                }
            }
        ?>
        <ul class='wraplist' >
            <volist name="departments" id="department">
                {$department|recursionDepartment}
            </volist>
        </ul> -->

            <!-- <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 10px;">
                    <i class="fa fa-reorder"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="">添加子部门</a></li>
                    <li><a href="">修改部门</a></li>
                    <li><a href="">删除部门</a></li>
                </ul>
            </li> -->

        <?php
            function treeDepartment(&$echoHtml="", $rootDepartment, $move="none",$depth=1) {
                $subDepartments = $rootDepartment["subDepartments"];
                $subDepartmentsCount = count($subDepartments);
                
                $openDepth = 2;
                if($subDepartmentsCount!=0) {
                    // 存在子节点
                    if($depth < $openDepth) {
                        $echoHtml .= "<li class='parent_li item_li' style='display:block;'>" ."<ul class='item_line'>" ."<span>" ."<i class='glyphicon-minus'>" ."</i>" ."</span>" ."<a href=''>" .$rootDepartment["name"] ."</a>";
                    } else if($depth == $openDepth) {
                        $echoHtml .= "<li class='parent_li item_li' style='display:block;'>" ."<ul class='item_line'>" ."<span>" ."<i class='glyphicon-plus'>" ."</i>" ."</span>" ."<a href=''>" .$rootDepartment["name"] ."</a>";
                    } else {
                        $echoHtml .= "<li class='parent_li item_li' style='display:none;'>" ."<ul class='item_line'>" ."<span>" ."<i class='glyphicon-plus'>" ."</i>" ."</span>" ."<a href=''>" .$rootDepartment["name"] ."</a>";
                    }
                } else {
                    if($depth <= $openDepth) {
                        $echoHtml .= "<li class='item_li' style='display:block;'>" ."<ul class='item_line'>" ."<span>" ."<i class=''>" ."</i>" ."</span>" ."<a href=''>"  .$rootDepartment["name"] ."</a>";
                    } else {
                        $echoHtml .= "<li class='item_li' style='display:none;'>" ."<ul class='item_line'>" ."<span>" ."<i class=''>" ."</i>" ."</span>" ."<a href=''>"  .$rootDepartment["name"] ."</a>";
                    }
                }

                $echoHtml .= "<li class='dropdown' style='display: none; float: right;'>";
                $echoHtml .= "<a class='dropdown-toggle' data-toggle='dropdown' href='#' style='padding: 10px;'>";
                $echoHtml .= "<i class='fa fa-reorder'>";
                $echoHtml .= "</i>";
                $echoHtml .= "</a>";
                $echoHtml .= "<ul class='dropdown-menu dropdown-user'>";

                $echoHtml .= "<li class='addSubDepartment'>";
                $echoHtml .= "<a>";
                $echoHtml .= "添加子部门";
                $echoHtml .= "</a>";
                $echoHtml .= "</li>";

                $echoHtml .= "<li class='modifyDepartment'>";
                $echoHtml .= "<a>";
                $echoHtml .= "修改部门";
                $echoHtml .= "</a>";
                $echoHtml .= "</li>";

                if($move == "up" || $move == "both") {
                    $echoHtml .= "<li class='moveUp'>";
                    $echoHtml .= "<a>";
                    $echoHtml .= "上移";
                    $echoHtml .= "</a>";
                    $echoHtml .= "</li>";
                }
                if($move == "down" || $move == "both") {
                    $echoHtml .= "<li class='moveDown'>";
                    $echoHtml .= "<a>";
                    $echoHtml .= "下移";
                    $echoHtml .= "</a>";
                    $echoHtml .= "</li>";
                }

                $echoHtml .= "<li class='deleteDepartment'>";
                $echoHtml .= "<a>";
                $echoHtml .= "删除部门";
                $echoHtml .= "</a>";
                $echoHtml .= "</li>";

                $echoHtml .= "</ul>";
                $echoHtml .= "</li>";

                $echoHtml .= "</ul>";                
                
                if($subDepartmentsCount!=0) {
                    $echoHtml .= "<ul class='son_ul'>";
                }

                if($subDepartmentsCount!=0) {
                    $depth++;
                }
                for($i=0;$i<$subDepartmentsCount;$i++) {
                    $toMove = "none";
                    if($subDepartmentsCount == 1) {
                        $toMove = "none";
                    } else {
                        if($i == 0) {
                            $toMove = "down";
                        } else if($i == $subDepartmentsCount-1) {
                            $toMove = "up";
                        } else {
                            $toMove = "both";
                        }
                    }
                    treeDepartment($echoHtml, $subDepartments[$i], $toMove, $depth);
                }
                
                if($subDepartmentsCount!=0) {
                    $echoHtml .= "</ul>";
                }
                $echoHtml .= "</li>";
            }

            function echoHtml($echoHtml) {
                echo $echoHtml;
            }
        ?>
        <div class="tree unableSelectText">
            <volist name="departments" id="department" key="key">
                <?php
                    $echoHtml = "";

                    $toMove = "none";
                    $subDepartmentsCount = count($departments);
                    if($subDepartmentsCount == 1) {
                        $toMove = "none";
                    } else {
                        if($key == 0) {
                            $toMove = "down";
                        } else if($key == $subDepartmentsCount-1) {
                            $toMove = "up";
                        } else {
                            $toMove = "both";
                        }
                    }

                    treeDepartment($echoHtml,$department, $toMove);
                    echoHtml($echoHtml);
                    trace($echoHtml);
                    \Think\Log::write($echoHtml);
                ?>
            </volist>
        </div>

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/metisMenu/1.1.3/metisMenu.min.js"></script>
    <script src="http://cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js"></script>
    <!-- Custom JS -->
    <script src="__JS__/qwechat-admin.js"></script>
    <script src="__JS__/AlertInfo.js"></script>

    <style type="text/css">
    .tree {
        min-height:120px;
        padding:20px;
        margin:20px;
        background-color:#fbfbfb;
        -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    }
    .tree li>ul.item_line {
        height: 38px;
        line-height: 38px;
        margin: 0px;
        padding: 0px;
    }
    .tree li>ul.item_line:hover {
        background:#eee;
        color:#000;
        cursor:pointer;
    }
    .tree li>ul.item_line>span {
        display:inline-block;
        padding:0px 8px;
        text-decoration:none;
    }
    .tree li>ul.item_line>a {
        text-decoration:none;
    }
    </style> 

    <script type="text/javascript">
    $(function () {
        AlertInfo.init({
            "selector": ".alert-info"
        });

        // $('.tree li:has(ul)').addClass('parent_li');
        $(".tree li.parent_li > ul.item_line > span > [class='glyphicon-plus']").parent('span').attr('title', '展开分支');
        $(".tree li.parent_li > ul.item_line > span > [class='glyphicon-minus']").parent('span').attr('title', '折叠分支');
        $(".tree li:not([class='parent_li item_li'])").find(' > ul.item_line > span').css('display', 'none');
        $('.tree li.parent_li > ul.item_line > span').on('click', function (e) {
            var children = $(this).parent('ul.item_line').parent('li.parent_li').find(' > ul.son_ul > li.item_li');
            if (children.is(":visible")) {
                children.hide('fast');
                children.css('display', 'none');
                $(this).attr('title', '展开分支').find(' > i').addClass('glyphicon-plus').removeClass('glyphicon-minus');
            } else {
                children.show('fast');
                children.css('display', 'block');
                $(this).attr('title', '折叠分支').find(' > i').addClass('glyphicon-minus').removeClass('glyphicon-plus');
            }
            e.stopPropagation();
        });
        $('.tree li > ul.item_line').on('mouseover mouseout', function (e) {
            var dropdown = $(this).find(' > li.dropdown');
            if(event.type == "mouseover"){
                //鼠标悬浮
                dropdown.css('display', 'inline');
            } else if(event.type == "mouseout"){
                //鼠标离开
                dropdown.css('display', 'none');
            }
        });
        $("li.addSubDepartment").click(function(e) {
            e.preventDefault();
            bootbox.prompt("请输入子部门名称", function(result) {
                if(result === null) {
                    
                } else if(result.length == 0) {
                    AlertInfo.show('请输入子部门名称');
                } else {
                    // 执行
                }
            });
        });
        $("li.modifyDepartment").click(function(e) {
            e.preventDefault();
        });
        $("li.moveUp").click(function(e) {
            e.preventDefault();
        });
        $("li.moveDown").click(function(e) {
            e.preventDefault();
        });
        $("li.deleteDepartment").click(function(e) {
            e.preventDefault();
            bootbox.confirm("确定删除改部门？", function(result) {
                if(result == null) {

                } else {
                    // 执行
                }
            });
        });

    });
    </script>

</body>

</html>
