
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{:L('_QWECHAT_TITLE_')}</title>

    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <link href="__CSS__/metisMenu.min.css" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="__CSS__/qwechat-admin.css" rel="stylesheet">

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{:U('Qwechat/Qwechat/qwechat')}">{:L('_QWECHAT_TITLE_')}</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 10px;">
                    <i><img class="nav-user-photo" src="{$Think.cookie.avatar}" alt="{$Think.cookie.name}" style="width:30px;height:30px;border-radius: 50%;" /></i> &nbsp;<i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{:U('Qwechat/Admin/admin')}"><i class="fa fa-user fa-fw"></i>{$Think.cookie.name}</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{:U('Qwechat/Admin/signout')}"><i class="fa fa-sign-out fa-fw"></i>{:L('_LOGOUT_')}</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav in" id="side-menu">
                    <li>
                        <a href="{:U('Qwechat/Qwechat/qwechat')}"><i class="fa fa-dashboard fa-fw"></i> {:L('_DASHBOARD_')}</a>
                    </li>
                    <li>
                        <a href="{:U('Qwechat/Organize/index')}"><i class="fa fa-group fa-fw"></i> {:L('_ORGANIZESETTINGS_')}<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse in">
                            <li>
                                <a href="{:U('Qwechat/Organize/groupSettings')}"> {:L('_GROUPSETTINGS_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Organize/branchManage')}"> {:L('_BRANCHMANAGE_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Organize/departmentManage')}" class="active"> {:L('_DEPARTMENTMANAGE_')}</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="{:U('Qwechat/Employee/index')}"><i class="fa fa-user fa-fw"></i> {:L('_EMPLOYEEMANAGE_')}<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="{:U('Qwechat/Employee/employeeManage')}"> {:L('_EMPLOYEEMANAGE_SUB1_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Employee/leaveEmployee')}"> {:L('_LEAVEEMPLOYEE_')}</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{:U('Qwechat/Application/index')}"><i class="fa fa-th fa-fw"></i> {:L('_APPLICATIONMANAGE_')}<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="{:U('Qwechat/Application/applicationManage')}"> {:L('_APPLICATIONMANAGE_SUB1_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Application/basicConfig')}"> {:L('_BASICCONFIG_')}</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="{:U('Qwechat/Message/index')}"><i class="fa fa-envelope fa-fw"></i> {:L('_MESSAGEMANAGE_')}<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="{:U('Qwechat/Message/activeMessage')}"> {:L('_ACTIVEMESSAGE_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Message/messageList')}"> {:L('_MESSAGELIST_')}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> {:L('_DEPARTMENTMANAGE_')}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <?php
            function recursionDepartment($rootDepartment) {
                $subDepartments = $rootDepartment["subDepartments"];
                $subDepartmentsCount = count($subDepartments);
                if($subDepartmentsCount!=0) {
                    // 存在子节点
                    echo "<li class='open'>" ."<a href='javascript:;'>" ."<span class='title'>" .$rootDepartment["name"] ."</span>" ."<span class='arrow open'>" ."</span>" ."</a>";
                    echo "<ul class='sub-menu' style='display:block;'>";
                } else {
                    echo "<li>" ."<a href='javascript:;'>" ."<span class='title'>" .$rootDepartment["name"] ."</span>" ."</a>";
                }
                for($i=0;$i<$subDepartmentsCount;$i++) {
                    recursionDepartment($subDepartments[$i]);
                }
                if($subDepartmentsCount!=0) {
                    echo "</li>";
                    echo "</ul>";
                } else {
                    echo "</li>";
                }
            }
        ?>
        <ul class='wraplist' >
            <volist name="departments" id="department">
                {$department|recursionDepartment}
            </volist>
        </ul>

        <?php
            function treeDepartment($rootDepartment, $depth=1) {
                $subDepartments = $rootDepartment["subDepartments"];
                $subDepartmentsCount = count($subDepartments);
                
                $openDepth = 2;
                if($subDepartmentsCount!=0) {
                    // 存在子节点
                    if($depth < $openDepth) {
                        echo "<li style='display:block;'>" ."<p>" ."<span>" ."<i class='glyphicon-minus'>" ."</i>" ."</span>" ."<a href=''>"  .$rootDepartment["name"] ."</a>" ."</p>";
                    } else if($depth == $openDepth) {
                        echo "<li style='display:block;'>" ."<p>" ."<span>" ."<i class='glyphicon-plus'>" ."</i>" ."</span>" ."<a href=''>"  .$rootDepartment["name"] ."</a>" ."</p>";
                    } else {
                        echo "<li style='display:none;'>" ."<p>" ."<span>" ."<i class='glyphicon-plus'>" ."</i>" ."</span>" ."<a href=''>"  .$rootDepartment["name"] ."</a>" ."</p>";
                    }
                    echo "<ul>";
                } else {
                    if($depth <= $openDepth) {
                        echo "<li style='display:block;'>" ."<p>" ."<span>" ."<i class=''>" ."</i>" ."</span>" ."<a href=''>"  .$rootDepartment["name"] ."</a>" ."</p>";
                    } else {
                        echo "<li style='display:none;'>" ."<p>" ."<span>" ."<i class=''>" ."</i>" ."</span>" ."<a href=''>"  .$rootDepartment["name"] ."</a>" ."</p>";
                    }
                }
                if($subDepartmentsCount!=0) {
                    $depth++;
                }
                for($i=0;$i<$subDepartmentsCount;$i++) {
                    treeDepartment($subDepartments[$i], $depth);
                }
                echo "</li>";
                if($subDepartmentsCount!=0) {
                    echo "</ul>";
                }
            }
        ?>
        <div class="tree well">
            <volist name="departments" id="department">
                {$department|treeDepartment}
            </volist>
        </div>

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/metisMenu.min.js"></script>
<script src="__JS__/qwechat-admin.js"></script>

<style type="text/css">
.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li p span {
    display:inline-block;
    padding:auto 6px;
    text-decoration:none
}
.tree li.parent_li>p>span {
    cursor:pointer
}
/*.tree>ul>li::before, .tree>ul>li::after {
    border:0
}*/
/*.tree li:last-child::before {
    height:30px
}*/
/*.tree li.parent_li>p:hover, .tree li.parent_li>p:hover+ul li p {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}*/

.tree li>p {
    height: 44px;
}
.tree li>p:hover {
    background:#eee;
    color:#000
}
/*.tree li>i:hover, .tree li>a:hover {
    background:#eee;
    color:#000
}*/
</style> 

<script type="text/javascript">
$(function () {
    // !$('.tree li:has(ul)').css('display', 'none');
    !$('.tree li').hasClass('.parent_li').css('display', 'none');
    $('.tree li:has(ul)').addClass('parent_li').find(' > p > span').attr('title', '折叠分支');
    $('.tree li.parent_li > p > span').on('click', function (e) {
        var children = $(this).parent('p').parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            children.css('display', 'none');
            $(this).attr('title', '展开分支').find(' > i').addClass('glyphicon-plus').removeClass('glyphicon-minus');
        } else {
            children.show('fast');
            children.css('display', 'block');
            $(this).attr('title', '折叠分支').find(' > i').addClass('glyphicon-minus').removeClass('glyphicon-plus');
        }
        e.stopPropagation();
    });
});
</script>

</body>

</html>
