/*!
 * 一些常用实用的css集合
 * 由Jiar整理
 *
 * https://www.github.com/Jiar/
 */

.vertical-container {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}