
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{:L('_QWECHAT_TITLE_')}</title>

    <link href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/metisMenu/1.1.3/metisMenu.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="__CSS__/qwechat-admin.css" rel="stylesheet">
    <link href="__CSS__/common-jiar.css" rel="stylesheet">

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{:U('Qwechat/Qwechat/qwechat')}">{:L('_QWECHAT_TITLE_')}</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 10px;">
                    <i><img class="nav-user-photo" src="{$Think.cookie.avatar}" alt="{$Think.cookie.name}" style="width:30px;height:30px;border-radius: 50%;" /></i> &nbsp;<i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{:U('Qwechat/Admin/admin')}"><i class="fa fa-user fa-fw"></i>{$Think.cookie.name}</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{:U('Qwechat/Admin/signout')}"><i class="fa fa-sign-out fa-fw"></i>{:L('_LOGOUT_')}</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav in" id="side-menu">
                    <li>
                        <a href="{:U('Qwechat/Qwechat/qwechat')}"><i class="fa fa-dashboard fa-fw"></i> {:L('_DASHBOARD_')}</a>
                    </li>
                    <li>
                        <a href="{:U('Qwechat/Organize/index')}"><i class="fa fa-group fa-fw"></i> {:L('_ORGANIZESETTINGS_')}<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="{:U('Qwechat/Organize/groupSettings')}"> {:L('_GROUPSETTINGS_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Organize/branchManage')}"> {:L('_BRANCHMANAGE_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Organize/departmentManage')}"> {:L('_DEPARTMENTMANAGE_')}</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="{:U('Qwechat/Employee/index')}"><i class="fa fa-user fa-fw"></i> {:L('_EMPLOYEEMANAGE_')}<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse in">
                            <li>
                                <a href="{:U('Qwechat/Employee/employeeManage')}" class="active"> {:L('_EMPLOYEEMANAGE_SUB1_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Employee/leaveEmployee')}"> {:L('_LEAVEEMPLOYEE_')}</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{:U('Qwechat/Application/index')}"><i class="fa fa-th fa-fw"></i> {:L('_APPLICATIONMANAGE_')}<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="{:U('Qwechat/Application/applicationManage')}"> {:L('_APPLICATIONMANAGE_SUB1_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Application/basicConfig')}"> {:L('_BASICCONFIG_')}</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="{:U('Qwechat/Message/index')}"><i class="fa fa-envelope fa-fw"></i> {:L('_MESSAGEMANAGE_')}<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="{:U('Qwechat/Message/activeMessage')}"> {:L('_ACTIVEMESSAGE_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Message/messageList')}"> {:L('_MESSAGELIST_')}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div class="alert-info center-container" style="display: none; height: 36px;">
        <span>Show alert info !</span>
    </div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> {:L('_CREATE_EMPLOYEE_')}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <form class="form-horizontal" role="form">

            <div class="form-group">
                <label class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" placeholder="请填写姓名">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">账号</label>
                <div class="col-sm-10">
                    <input type="text" name="account" class="form-control" placeholder="成员唯一识别，不支持中文">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">头像</label>
                <div class="col-sm-10">
                    <input type="file" name="avatar" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">性别</label>
                <div class="col-sm-10">
                    <select class="form-control">
                        <option>男</option>
                        <option>女</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-12 control-label">身份验证信息（以下三种信息不可同时为空）</label>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">微信号</label>
                <div class="col-sm-10">
                    <input type="text" name="wechatId" class="form-control" placeholder="允许员工扫描的微信匹配关注">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">手机</label>
                <div class="col-sm-10">
                    <input type="text" name="phone" class="form-control" placeholder="允许手机验证关注，国际手机号需加区号“+”">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-10">
                    <input type="email" name="email" class="form-control" id="inputEmail" placeholder="若未匹配到员工的微信，则通过邮箱来验证身份">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">职位</label>
                <div class="col-sm-10">
                    <input type="text" name="job" class="form-control" placeholder="请输入职位">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </div>

        </form>

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/metisMenu/1.1.3/metisMenu.min.js"></script>
    <script src="http://cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js"></script>
    <!-- Custom JS -->
    <script src="__JS__/qwechat-admin.js"></script>
    <script src="__JS__/AlertInfo.js"></script>

    <script type="text/javascript">
        $(function () {
            AlertInfo.init({
                "selector": ".alert-info"
            });
            $("#deleteEmployee").click(function() {
                var checkedMemberIds =[]; 
                $('#members tbody tr td input[name="memberIds"]:checked').each(function(){
                    checkedMemberIds.push($(this).val());
                });
                if(checkedMemberIds.length == 0) {
                    AlertInfo.show('{:L('_PLEASE_CHECK_BOX_FIRST_')}');
                } else {
                    dialog = bootbox.dialog({
                                    message: '<p><i class="fa fa-spin fa-spinner"></i>{:L('_NOW_IS_PUSHING__PLEASE_WAIT_')}</p>',
                                    closeButton: false,
                                });
                    $.ajax({
                            type: 'POST',
                            url: "{:U('Qwechat/Employee/deleteEmployees')}",
                            data: {memberIds: checkedMemberIds.toString()},
                            dataType: 'json',
                            beforeSend : function(){},
                            success: function (msg, status) {
                                dialog.modal('hide');
                                var result = eval("("+msg+")");
                                AlertInfo.show(result.info);
                                if (result.success === 1) {
                                    window.location.href="{:U('Qwechat/Employee/employeeManage', array('reFetch'=>true))}"; 
                                }
                            },
                            error: function (xhr, desc, err) {
                                dialog.modal('hide');
                                AlertInfo.show("error: " + desc + "&nbsp;" + err);
                            }
                        });
                }
            });
        });
    </script>

</body>

</html>
