
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{:L('_QWECHAT_TITLE_')}</title>

    <link href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/metisMenu/1.1.3/metisMenu.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="__CSS__/qwechat-admin.css" rel="stylesheet">

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{:U('Qwechat/Qwechat/qwechat')}">{:L('_QWECHAT_TITLE_')}</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 10px;">
                    <i><img class="nav-user-photo" src="{$Think.cookie.avatar}" alt="{$Think.cookie.name}" style="width:30px;height:30px;border-radius: 50%;" /></i> &nbsp;<i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{:U('Qwechat/Admin/admin')}"><i class="fa fa-user fa-fw"></i>{$Think.cookie.name}</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{:U('Qwechat/Admin/signout')}"><i class="fa fa-sign-out fa-fw"></i>{:L('_LOGOUT_')}</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav in" id="side-menu">
                    <li>
                        <a href="{:U('Qwechat/Qwechat/qwechat')}"><i class="fa fa-dashboard fa-fw"></i> {:L('_DASHBOARD_')}</a>
                    </li>
                    <li>
                        <a href="{:U('Qwechat/Organize/index')}"><i class="fa fa-group fa-fw"></i> {:L('_ORGANIZESETTINGS_')}<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="{:U('Qwechat/Organize/groupSettings')}"> {:L('_GROUPSETTINGS_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Organize/branchManage')}"> {:L('_BRANCHMANAGE_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Organize/departmentManage')}"> {:L('_DEPARTMENTMANAGE_')}</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="{:U('Qwechat/Employee/index')}"><i class="fa fa-user fa-fw"></i> {:L('_EMPLOYEEMANAGE_')}<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse in">
                            <li>
                                <a href="{:U('Qwechat/Employee/employeeManage')}" class="active"> {:L('_EMPLOYEEMANAGE_SUB1_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Employee/leaveEmployee')}"> {:L('_LEAVEEMPLOYEE_')}</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{:U('Qwechat/Application/index')}"><i class="fa fa-th fa-fw"></i> {:L('_APPLICATIONMANAGE_')}<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="{:U('Qwechat/Application/applicationManage')}"> {:L('_APPLICATIONMANAGE_SUB1_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Application/basicConfig')}"> {:L('_BASICCONFIG_')}</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="{:U('Qwechat/Message/index')}"><i class="fa fa-envelope fa-fw"></i> {:L('_MESSAGEMANAGE_')}<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="{:U('Qwechat/Message/activeMessage')}"> {:L('_ACTIVEMESSAGE_')}</a>
                            </li>
                            <li>
                                <a href="{:U('Qwechat/Message/messageList')}"> {:L('_MESSAGELIST_')}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> {:L('_EMPLOYEEMANAGE_SUB1_')}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <a type="button" class="btn btn-default" href="{:U('Qwechat/Employee/employeeManage', array('department_id'=>1, 'fetch_child'=>1, 'status'=>0, 'reFetch'=>true))}">{:L('_REFRESH_EMPLOYEE_')}</a>

        <div style="margin-top: 10px;
                    margin-right: 0px;
                    margin-left: 0px;
                    background-color: #fff;
                    border-color: #ddd;
                    border-width: 1px;
                    border-radius: 4px;
                    -webkit-box-shadow: none;
                    box-shadow: none;">
            <table class="table">
                <thead>
                    <tr>
                        <th>账号</th>
                        <th>姓名</th>
                        <th>微信号</th>
                        <th>手机</th>
                        <th>邮箱</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="members" id="member">
                        <tr>
                            <td>{$member.userid}</td>
                            <td><img src="{$member.avatar}" 
                            alt="{$member.name}"
                            style=" width: 30px; 
                                    height: 30px; 
                                    border-width: 0px;
                                    border-radius: 15px;">
                                    &nbsp;
                                    {$member.name}</td>
                            <td>{$member.weixinid}</td>
                            <td>{$member.mobile}</td>
                            <td>{$member.email}</td>
                            <td><a type="button" class="btn btn-danger btn-xs" href="{:U('Qwechat/Employee/employeeDetail', array('userid' => $member['userid']))}"></a></td>
                        </tr>
                    </volist>
                </tbody>
            </table>
        </div>

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/metisMenu/1.1.3/metisMenu.min.js"></script>
    <script src="http://cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js"></script>
    <!-- Custom JS -->
    <script src="__JS__/qwechat-admin.js"></script>

</body>

</html>
